# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Data
data/raw/*
data/cleaned/*
data/processed/*
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/processed/.gitkeep

# Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Power BI
*.pbix

# Presentation
*.pptx

# Logs
*.log
